//div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1
      = 'So, I heard you need a '
      a(href='#', tooltip="Typeface is not the same as a font! Your designer yelled at you before. Ok, sure. We will still call our project Fonts Story anyways.",tooltip-placement="bottom")  {Typeface}
      = ' for your next web projects.'

    p.lead Our analysis from {{numberWithCommas(count)}} github contents might just help.


.container
  .row#fav

    h2 {Github's Favourite Fonts}

    ol
      li(ng-repeat='font in topFonts')
        span.rank {{20-$index}} .
        span(ng-style='applyFont(font._id)') {{font._id}}
.container
  .row.part#compare-serif
    h2.text-center {Serif or Sans-Serif, that's A question}

    div.col-xs-6.text-center.serif#serif
      a(tooltip="This is a serif font. Notice it has those little feet in the bottom.",tooltip-placement="right") A
    div.col-xs-6.text-center.serif#sans-serif
      a(tooltip="This is a sans-serif font. The word sans means without, that pretty much explained itself.",tooltip-placement="left") A

    p.text-center.lead
      = 'Over'
      a  {{serif.percentage}}%
      = ' percent of github choose to use {{serif.winner}} fonts, a more {{serif.style}} way to print letters.'
    p.text-center.lead
      = 'But really, what does '
      a(href="http://en.wikipedia.org/wiki/Serif",target="_blank",alt="A link to people who can explain Serif better than me.",tooltip="Click this will redirect you to a site that can explain Serif better than me.")  Serif
      = ' even mean?'



.container
  .row.part#icon
    div.questionDialog
      h2.text-left {What About Icons?}
      p.text-right.lead Thanks to bootstrap, a lot of people start to use font based icons.
    div.questionDialog
      p.lead.text-left
        = '{But '
        a(ng-mouseover='icon.highlighted="g"',tooltip="Bundled with bootstrap, offers over 200 icons")  Glyphicon Halflings
        = ' or '
        a(ng-mouseover='icon.highlighted="a"',tooltip="Contains 439 icons by the time I typed this, and they are growing fast.")  Font Awesome
        = ' ?}'


    ul
      li(ng-repeat='icon in icon.glyphIcons track by $index',ng-class="{highlighted: isHighLighted('g')}")
        i.glyphicon.glyphicon-user
      li(ng-repeat='icon in icon.awesomeIcons track by $index',ng-class="{highlighted: isHighLighted('a')}")
        i.fa.fa-user



    p.result.text-center.lead {{icon.times}} Times people choose {{icon.winner}} over {{icon.loser}}, most likely because {{icon.reason}}.

.container
  .row.part#find
    h2.text-center {Find Fallback Fonts}
    p.text-center.lead There is always a chance your fancy fonts won't load

  form.font-form


    p.input-group
      input.form-control(type='text', placeholder='Input your font name here, see what other people on Github used as fallbacks', ng-model='searchTerm')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='find()') Find

    p(ng-if='showNoResErr').text-center.error Sorry, we have not gather any data about the font you asked. Try again later.


    ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='font in findFonts')
      li
        a(href='#',ng-click='findSelected(font._id)') {{font._id}}




footer.footer
  .container
    p
      = 'An '
      a(href='https://github.com/xna2/font-story') "infotypographic"
      = ' written by '
      a(href='https://twitter.com/ruocaled') @ruocaled
      = ' with '
      a(href='https://developer.github.com/v3/') Github API