$not-so-white: #eeeeee;
$not-so-black: rgb(51, 51, 51);
$light: #4393b9;
$pink: #DA4C43;

a,em,span {
 transition: color 0.5s;
}

#banner {
  z-index: 99;
  border-bottom: none;
  margin-top: -20px;
  p {
    margin-top: 50px;
    font-family: 'Noto Serif', serif;
  }
  h1 {

	padding-right:10%;
	font-family: 'Noto Serif', serif;
	font-weight: 400;

	font-size: 90px;
	line-height: 1;
	letter-spacing: -1px;
	color:$not-so-white;
	p {
	  margin:10px;
	}
	.tooltip{
	  letter-spacing:normal;

	}

	a {
	  font-style: normal;
	  text-decoration: none;
	  color:white;
	  cursor: pointer;

	  &:hover{
		color:$not-so-black;
	  }


	}
  }

  .container{

    text-align: left;
  }

}

.container{


}



#fav {

  .picked{
	border-bottom: 2px solid black;
	padding-bottom: 30px;
	margin-bottom: 20px;

	p{
	  line-height: 25px;
	  font-size: 20px;
	  color:black;
	  margin: 0;

	}
	p.percentage{
	  font-weight: bold;
	}
	p.installed{
	  color:$light;
	  font-size: 15px;

	}

  }



  a {
	cursor: pointer;
	text-decoration: none;
	color:$not-so-black;
	&:hover{
	  color:$light;
	}

	i{
	  color:rgba(0,0,0,0.4);
	}


  }
  padding-top: 50px;
  text-align: right;
  #circle {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: red;
	position: absolute;
	left:0;
	top:50%;
  }

  span.rank{
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	opacity: 0.7;
  }
  h2 {
	font-family: 'Noto Serif', serif;
  }
  ol{
	list-style: none;
	li{
	  cursor: pointer;
	  &:hover{
		font-size: 40px;
		color:$light;
	  }
	  font-size: 25px;
	  &:last-of-type{
		font-size: 100px;
		line-height: 105px;
	  }
	}
  }

}

#compare-serif{
  background-color: white;
  z-index: 99;
  a{
	cursor: pointer;
	text-decoration: none;
	color:$light;

	&:hover{
	  color:$not-so-black;
	}
  }

  .serif{
	font-size: 250px;
	a{

	  color:$not-so-black;;

	  &:hover{
		color:$light;
	  }
	}
  }
  #serif{
	font-family: 'Noto Serif', serif;
  }
  #sans-serif{
	font-family: 'Lato', sans-serif;
  }
  #compare{
	height: 5px;
	background-color:$not-so-black;
  }
}

#find{
  z-index: 99;
  #btn-find {
	background-color: $light;
	border: 1px solid $light;
  }
  input:focus{
	box-shadow: none;
	outline-color: $light;
	border-color: $light;
  }

}


#icon {
  .highlighted{
	color:$light !important;
  }
  a{
	cursor: pointer;
	color:$not-so-black;
	&:hover{
	  color:$light;
	}
  }
  .result {margin-top: 30px;}
  .questionDialog{

	padding-bottom: 50px;
  }

 li{
   display: inline-block;
   height: 50px;
   width:50px;

   vertical-align:text-bottom;
   text-align: center;

   i{
	 font-size: 30px;
	 line-height: 50px;
	 &.fa{

	 }
	 &.glyphicon{

	   font-size: 25px;


	 }

   }

 }


}

#tree{
  text-align: center;
}

.part {

  border-top: solid #000000 3px;
  margin-top: 50px;
  padding-top: 50px;
  a{
	text-decoration: none;

  }
  h2,p {
	font-family: 'Noto Serif', serif;
  }
  ul,ol {
	list-style: none;
  }
}


.node circle {
  fill: #fff;
  stroke: $light;
  stroke-width: 1.5px;
}

.node {
  font-family: sans-serif;
  font-size: 15px;

}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}


.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: $light;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}